/*============= Color Definition =================*/

$blue-menubg:#2d4a5f;
$blue-menuactbg:#3399cc;
$blue-link:#0078ff;
$white-menu:#6dcff6;

$gray-text:#333333;
$footer-bg:#008db2;
$egg:#fdfdf1;




/*============= Fonts Definition =================*/

$sans-serif: 'Roboto', sans-serif;
$serif: 'Libre Baskerville', serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:960px;









