.entry__content, .archiveblock {
	@include clearfix();
	//padding-top:2em;
	//padding-bottom: 2em;
	margin:0 auto;

	@include bp($s2){
		width:75%;
	}

	@include bp($s3){
		font-size: 0.875em;
	}

	> p:first-child, > h2:first-child, > ul:first-child, > ol:first-child {
		margin-top:0;
	}
}
.main--hassidebar {
	.entry__content, .archiveblock {
		@include bp($s2){
			width:75%;
			float:right;
			padding-left:1em;
		}

	
		@include bp($s4){
			//padding-left:2em;
		}
	}

}



/********** Törzslista ********/



.torzsexp{
	margin:0 0 4em; 
	@include bp($s4){
		width:48%;
		display:inline-block;
		vertical-align: top;
		&:nth-of-type(2n+1){
			margin-right:4%;
		}

	}
	

	@include bp($s5){
		width:30.666%;
		margin-right: 4%;
		&:nth-of-type(2n+1){
			//margin-right:0;
		}
		&:nth-of-type(3n){
			margin-right:0;			
		}
	}
}

.torzs__title{
	font-family: $sans-serif;
	font-size: 22px;
	line-height: 30px;
	//font-weight: 400;
	margin: 0 0 0.125em 0;
	a{
		//color:$gray-text;
		&:hover, &:focus {
			//color:$blue-header;
		}
	}
}

.torzs__summary{
	p{
		margin:0 0;
	}
}



.mapblock {
	height:300px;
	margin-top:3em;
	#map-canvas { 
		height: 100%;
		margin: 0;
		padding: 0;
	}
}


.related__entries {
	margin-top:2em;
	padding-top: 2em;
	border-top: 1px solid $blue-extralight;
	.related__entries__items {
		font-size:0.875em;
	}
}