.site-bottom{
	margin-top: 3em;
	border-top:1px solid lightgray;
	font-family: $sans-serif;
	
}


.sidebar--footer{
	@include clearfix();
	padding-top:2em;
	padding-bottom: 2em;


	@include bp($s2){
	}
	@include bp($s3){
	}

	.widget {
		font-size: 0.75em;
		margin:1em 0;

		@include bp($s1){
			width: 50%;
			float:left;
		}
		@include bp($s2){
			width: 33.333%;
			float:left;
		}
		h3 {
			margin:0 0 0.75em;

		}

		ul {
			margin:0;
			padding:0;
			line-height: 1.2;
		}

		li {
			list-style-type: none;
			//text-transform: uppercase;
			margin:0 1em 0.333em 0;
			> a {
				color:$gray-light;
			}
		}
	
		
	}


	.menu {
		.item--descr {
			display: none;
		}
	}
}

.sitefooter {

	padding:1em 0;
	border-top: 1px solid lightgray;
}
.sitefooter--inner {
	font-size: 0.75em;
	font-family: $sans-serif;

}