.site-bottom{
	border-top:1px solid lightgray;
	font-family: $sans-serif;
	
}


.sidebar-footer{
	@include clearfix();
	padding-top:2em;
	padding-bottom: 2em;


	@include bp($s2){
		width: 66.666%;
		padding-right: 12px;
	}
	@include bp($s3){
		width: 600px;
		padding-right: 24px;
		border-right: 1px solid lightgray;
	}

	.widget {
		margin:1em 0;
		@include bp($s2){
			width: 46%;
			float:left;
			margin-right: 8%;
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(2n+1){
				clear:left;
			}
		}
		h3 {
			margin:0;
			font-size: 14px;
		}
	
		
	}
}