.banner__searchblock {
	padding:0 1.5em;


	.search--form {
		label {
			display: none;

		}
		input[type="search"] {
			width:100%;
			padding: 0.333em 0.5em;
			font-size: 0.875em;
			font-family: $sans-serif;
			border:none;
			box-sizing:border-box;

		}
		.input-group-btn {
			display: none;
		}
	}
}
.banner {
	@include clearfix();
	width:17em;
	float:left;

	transition: margin .4s ease;
	
	margin-left: -100%;
	.nav_isactive & {
		margin-left: 0;
	}

	@include bp($s3) {
		margin-left: 0;
		.nav_isactive & {
			margin-left: 0;
		}
	}
}


.document {
	position: relative;
	@include clearfix();
	background-color: #fff;
	min-height: 100vh;
	
	width: 100%;
	max-width:$maximum;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	
	float:left;
	
	margin-right:0;
	transition: margin .4s ease;
	.nav_isactive & {
		margin-right: -100%;
	}

	@include bp($s1){
		padding-left: 2em;
		padding-right: 2em;

	}
	@include bp($s3){
		margin-right: 0;
		.nav_isactive & {
			margin-right: 0;
		}
		width: calc(100% - 17em);
		padding-left: 2em;
		padding-right: 2em;
	}
	@include bp($s3){

	}


}

.torzs__header, .page__header, .entry__header {
	position: relative;
	@include clearfix();
	
	a{
		color:$egg;

	}

	.discl{
		@include clearfix();
		font-size: 1.25em;

		//color:$gray-text;
		p {
			margin:0.875em 0 3em 0;
		}
		@include bp($s2){

		}

	}

}

.page__title {
	font-family: $sans-serif;
	font-size: 2em;
	line-height: 1;
	margin:2em 0 0.25em;
	color:$blue-header;
	@include bp($s2){
		font-size: 3.5em;
		margin-top: 1.5em;
	}

}

.header__meta {
	font-size:1em;
	line-height: 1.25;
	//color:$blue-extralight;
	margin-bottom: 1em;
	margin-top: 0.25em;
	@include bp($s2){
		font-size: 1em;
		line-height: 1;
	}
	a {
		color:$blue-light;
	}

	.byline{
		display: inline-block;
		font-style: italic;
		a {
			
			font-family: $sans-serif;
			font-style: normal;
			text-transform: uppercase;
			font-weight: 700;
			text-transform: uppercase;	
		}
	}
	.torzslink{
		display: inline-block;
		font-style: italic;
	}
	time{
		display: inline-block;
		font-style: italic;
	}
}

.breadcrumbs {
	
	margin:4em 0 0;
	padding:0 0 0 0;
	font-family: $sans-serif;
	font-size: 0.875em;
	line-height: 1em;
	font-weight: 900;
	text-transform: uppercase;
	
	@include bp($s2){
		//font-size: 1em;
		margin:0;
		position: absolute;
		left: 0;
		top:2em;
	}
	a {
		color:$blue-light !important;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	.breadcrumb_last {
		display: none;
	}
}

// .fejtorzslink {
// 	display: block;
// 	position: absolute;
// 	z-index:-1;
// 	left:0; 
// 	bottom:0;
// 	width:100%;
// 	overflow: hidden;
// 	text-align: left;
// 	text-decoration: none;
// 	font-family: $sans-serif;
// 	font-size: 25px;
// 	line-height: 1em;
// 	padding-top: 0.15em;
// 	height:1em;
// 	font-weight: 900;
// 	text-transform: uppercase;
// 	word-break: keep-all;
// 	color:#8fcddd !important;
	
// 	&:hover, &:focus {
// 		text-decoration: none;
// 		//opacity: 1;
// 		color:#fff !important;
// 	}

// }