.panel {
  margin:0 0 1em;
}
.panel-heading {
  border-bottom: 1px solid $blue-header;
  padding:0.5em 0;
}
.panel-title {
  font-weight: normal;
  margin:0;
  a {
    color: $gray-text;
    display: block;
    &:hover, &:focus {
      text-decoration: none;
      color:$blue-header;
    }

    .ion {
      float:right;
    }
  }
}

.panel-body {
  padding:1em 0 2em;
}