.panel {
  margin:0 0 1.25em;
}
.panel-heading {
  position: relative;
  border-bottom: 1px solid $blue-header;
  padding:0.5em 0 0.5em 0;

}
.panel-icon {
  position: absolute;
  right:0.5em;
  top:0.5em;
  font-size: 1.25em;
  line-height: 1;

}


  .collapsed .panel-icon i:before {
      content:'\f3d0' !important;
  }

.panel-title {
  font-weight: normal;
  margin:0 !important;
  a {
    color: $gray-text;
    display: block;
    &:hover, &:focus {
      text-decoration: none;
      color:$blue-header;
    }

    .ion {
      float:right;
    }
  }
}

.panel-body {
  padding:0 0 1em;
}