.archiveitem {
	@include clearfix();
	//max-width: 37em;
	margin:0 auto 2em;


}

.archiveitem__header {
	//font-size: 0.875em;
}

.archiveitem__title {
	margin: 0;
	line-height: 1.2;
	margin-top: 0;
}
.archiveitem__summary {
	//font-size: 0.875em;
}


