
.sidebar{
	font-family: $sans-serif;
	//padding-top:2em;
	//padding-bottom: 2em;
	@include bp($s2){
		width:25%;
		float:left;
		padding-right:1em;
		clear:left;
	}

	@include bp($s4){
		//padding-right: 2em;
		// width:336px;
		// padding-left:24px;

	}

	.widget{
		@include clearfix();
		margin:0 0 1.5em 0;

		p{
			margin:0 0 0.5em;
			font-size:1em;
			line-height: 1;
			@include bp($s2){
				font-size:0.875em;
			}

		}

	}

	.widget__title {
		@include clearfix();
		//background-color: $blue-header;
		//color:#fff;
		margin:0 0 0.25em;
		//padding:0.666em 0.666em 0.25em;
		font-size: 0.875em;
	}

	.widget__body {
		@include clearfix();
	}
	
	.side--logo {
		margin:0 0 2em;
		//background-color: $blue-header;
		//padding:0.5em;
		//margin-bottom: 0;
		text-align: left;
		@include bp($s2) {
			text-align: center;
		}
	
		img {
		
			width:4em;
						
			@include bp($s2) {
				width: 7em;
			}
		
			
		}
	}


	.widget--intezmeny {
		@include bp($s1) {
			width: 49%;
			float:left;
			margin-right: 1%;
			clear:left;
			
			&:nth-child(2n+1) {
				clear:right;
				float:right;
				margin-left: 1%;
				margin-right: 0;
			}
		}
		@include bp($s2) {
			width:auto;
			float:none;
			margin-right:0;
			margin-left:0;
			clear: none;
			&:nth-child(2n+1) {
				width:auto;
				float:none;
				margin-right:0;
				margin-left:0;
				clear: none;
			}
		}
	}
	.widget--openform {
		//padding:0;
		//margin:0;
	}
	
	.widget--callme {
		.telcsi {
			
		}
		.telcsi-0 {
			display: block;
			margin: 0.25em 0 0.075em;
			font-size: 1.666em;
			line-height: 1;
			font-family: $serif;
		}
	}


}




.sidebar--lower {
}


.sidebar--inner {
	//font-size: 0.75em;
	@include clearfix();

}



/******* Intezmeny Sidebar elements ******/
// .widget.widget--intezmeny {
// 	background-color: $blue-extralight;
// 	padding:1em 1em 1em 1em;
// 	margin-left: -1em;
// 	@include bp($s2) {
// 		padding:1em 1em 1em 2em;
// 		margin-left: -2em
// 	}
// 	@include bp($s3) {
// 		margin-left: -2em
// 	}

// 	p {
// 		font-size: 
// 	}
	
// }
.fulladdr {

}

.addrdsicl {
	font-style: italic;
	font-size: 0.875em;
}